<top-bar></top-bar>

<div class="flex justify-center items-center gap-4">
  <search-bar (query)="getSearchedBook($event)"></search-bar>
  <filter-book
    (bookAuthor)="filteredAuthor=$event"
    (bookPublisher)="filteredPublisher=$event"
  ></filter-book>
</div>

<div class="mx-auto max-w-7xl px-6 pb-16 pt-4">
  <div class="flex flex-wrap justify-center gap-8">
    @for (book of bookList(); track book.id) {
        <book-card
          [bookCard]="book"
          (bookId)="getSearchedBookById($event)"        
        > </book-card>
    }
  </div>
</div>

