<!-- Título principal con margen superior -->
<div class="mt-12 mb-8 flex justify-center mr-10 px-4">
  <div
    class="flex flex-row sm:flex-row items-center gap-2 sm:gap-4 text-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 22 22"
    >
      <path
        fill="currentColor"
        d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h12q.825 0 1.413.588T20 4v16q0 .825-.587 1.413T18 22zm0-2h12V4h-2v7l-2.5-1.5L11 11V4H6zm0 0V4zm5-9l2.5-1.5L16 11l-2.5-1.5z"
      />
    </svg>
    <h1 class="text-2xl sm:text-4xl font-bold text-gray-800">
      Buscador de Libros
    </h1>
  </div>
</div>