<div
  class="bg-white rounded-xl shadow-md mt-10 p-6 border border-gray-200 max-w-xl mx-auto h-[80vh] flex flex-col"
>
  <!-- Título -->
  <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ book.title }}</h2>

  <!-- Descripción scrolleable -->
  <div
    class="overflow-y-auto text-gray-700 italic pr-1 mb-4"
    style="max-height: 60vh"
  >
    <p [innerHTML]="book.description"></p>
  </div>

  <!-- Datos fijos al final -->
  <div
    class="grid grid-cols-2 gap-x-4 gap-y-2 text-sm text-gray-700 pt-4 mt-auto border-t border-gray-200"
  >
    <div class="col-span-2">
      <span class="font-semibold">Autor: </span>
      <span>{{ book.author }}</span>
    </div>
    <div>
      <span class="font-semibold">ISBN: </span>
      <span>{{ book.isbn }}</span>
    </div>
    <div>
      <span class="font-semibold">Páginas: </span>
      <span>{{ book.pageNumber }}</span>
    </div>
    <div>
      <span class="font-semibold">Publicado: </span>
      <span>{{ book.publishedDate }}</span>
    </div>
    <div>
      <span class="font-semibold">Editorial: </span>
      <span>{{ book.publisher }}</span>
    </div>
  </div>
</div>
